.gs-header
    display: flex
    align-items: center
    justify-content: center
    background-color: $background-default-color
    border-bottom: $border-yellow
    height: $spacing-64
    min-height: $spacing-64
    width: 100%
    left: 0px
    top: 0px
    position: sticky
    z-index: 4

    &__logo
        font-size: $title-xl
        font-weight: $font-weight--bold
        color: $text-color

.gs-main
    width: 100%
    position: relative
    overflow: hidden

    .gs-progressive-box
        display: flex
        align-items: flex-start
        justify-content: space-around
        padding-top: $spacing-64
        width: 300vw
        transform: translateX(100vw)
        transition: $transition

        &.is-services-visible
            transform: translateX(0vw)

        &.is-user-visible
            transform: translateX(-100vw)

        &.is-success-visible
            transform: translateX(-200vw)

    &__form
        max-width: $spacing-vw
        width: $max-content-block
        transition: all 0.5s ease
        position: relative
        overflow: hidden

        .gs-form-header
            width: 100%

            &__content
                margin-bottom: $spacing-32

                .gs-title__strong
                    font-weight: $font-weight--bold
                    color: $yellow--dark

        .gs-form-body
            width: 100%

        .gs-form-footer
            display: flex
            align-items: center
            justify-content: space-between
            flex-wrap: wrap
            margin-top: $spacing-16
            width: 100%

            .gs-button
                margin-top: $spacing-16

                &:nth-child(2)
                    margin-left: $spacing-8

        &--services
            .gs-form-footer
                .gs-button
                    margin-left: auto

        &--success
            .gs-form-header
                .gs-title__strong
                    color: $green--light

            .gs-form-body
                display: flex

                .gs-check-image
                    width: 160px

                .gs-description
                    padding: $spacing-16
                    font-size: $font-size-20
                    line-height: $line-height
                    text-align: justify

            .gs-form-footer
                    .gs-button
                        margin-left: auto
                        margin-right: auto

@media(max-width: 720px)
    .gs-main
        .gs-progressive-box
            padding-top: 0px

        &__form
            width: 100vw
            min-height: calc(100vh - 64px)
            border-radius: 0px
            box-shadow: none

            .gs-form-footer
                margin-top: auto

            &--success
                .gs-form-body
                    flex-flow: column
                    align-items: center

@media(max-width: 540px)
    .gs-main
        .gs-progressive-box
        &__form
            .gs-form-footer
                flex-flow: column

                .gs-button
                    margin-left: 0px
                    margin-right: 0px
                    width: 100%
